.cat-happiness-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cat-happiness-bar {
    width: 50%; /* Adjust to match the width of the cat image */
    height: 30px;
    background-color: #ddd;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  
  .cat-happiness-fill {
    height: 100%;
    border-radius: 15px;
  }
  
  .cat-happiness-fill.red {
    background-color: red;
  }
  
  .cat-happiness-fill.orange {
    background-color: orange;
  }
  
  .cat-happiness-fill.yellow {
    background-color: rgb(247, 247, 149);
  }
  
  .cat-happiness-fill.green {
    background-color: rgb(7, 197, 7);
  }
  
  .cat-happiness-fill.blue {
    background-color: rgb(102, 192, 252);
  }
  
  .cat-happiness-fill.purple {
    background-color: rgb(223, 6, 223);
  }
  
  .cat-happiness-text {
    margin-top: 10px;
    font-weight: bold;
  }
  