.idle-animation-overlay {
    position: fixed;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  .idle-animation-overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  